*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #139689;

}
#panel{
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#ptop{
    width: 100%;
    height: 85px;
    background-color: #3babf6;
    display: flex;
    align-items: center;
    padding: 0 25%;
    justify-content: space-between;

}
.elem{
   color: #fff;
    width: 25%;
display: flex;
align-items: center;
gap: 20px;
}
.box{
    display: flex;
    align-items: center;
    width: 100%;
color: black;
padding: 10px;
background-color: #fff;
border-radius: 5px;
font-size: 20px;
font-weight: 600;
}
#pbtm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width:100% ;
    height: 84%;
    background-color: #f6b9b9f1;
    display: flex;
    flex-wrap: wrap;
}
.bbl{
    color: #fff;
    padding: 10px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 15px;
    background-color: #067413;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.bbl:hover{
background-color: #0b9348;
}
@media only screen and (max-width: 600px) {
    #panel{
        width: 80%;
        height: 80%;
        background-color: #fff;
        border-radius: 10px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
    #ptop{
        width: 100%;
        height: 85px;
        background-color:  #3babf6;
        padding: 0 1%;
        justify-content: start;   
    }
    .elem{
       color: #fff;
        width: 15%;
        margin: 20px;
    gap: 2px;
    }
    .time{
        margin-left: -10px;
    }
    .box{    
    width: 100%;
    color: black;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 300;
    }
    #pbtm{
        background-color: #f6b9b9f1;
    }
    
  }